input {
    width: 25%;
}

.delBut { 
    display: none;
}

p {
    border: 1px solid black;
}

.addBut {
    width: 10%;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;
    padding-top: 0.9rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #c9c9c9;
}

.grid-container:hover {
    transition-duration: 0.3s;
    background-color: #dad8d8;
    .delBut {
        display: block;
        margin: 0px;
        border: 0px;
        position: absolute;
        background: none;
    }
}

.grid-header {
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    border-bottom: 1px solid #c9c9c9;
    border-top: 0px solid #c9c9c9;
}

.grids {
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px;
}

.grid-item {
    padding: 5px;
}