input {
    width: 25%,
}

button {
    width: 10%,
}

.delBut:hover {
    display: block;
}

.delBut {
    display: none;
    float: left;
}

.grid-container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding-top: 0.9rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #c9c9c9;
}

.grid-container:hover {
    transition-duration: 0.3s;
    background-color: #dad8d8;
    .delBut {
        display: block;
        transition-duration: 0.3s;
        background-color: #dad8d8;
    }
}

.grid-header {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    border-bottom: 1px solid #c9c9c9;
    border-top: 0px solid #c9c9c9;
}

.grids {
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px;
}

.grid-item {
    padding: 5px;
}