<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="grids">
                <div class="grid-header , font-weight-bold">
                    <div class="grid-item-1-h grid-item">Name</div>
                    <div class="grid-item-2-h grid-item">Info</div>
                    <div class="grid-item-3-h grid-item">Description</div>
                </div>
                <div class="grid-wrapper">
                    <div class="grid-container" #itemSet>
                        <input type="text" class="form-control grid-item-1" #newname placeholder="Name" style="width:90%; margin-left: 5px;"/>
                        <input type="text" class="form-control grid-item-2" #newinfo placeholder="Info" style="width:90%; margin-left: 5px;"/>
                        <input type="text" class="form-control grid-item-3" #newdesc placeholder="Description" style="width:90%; margin-left: 5px;"/>
                        <button (click)="editItemShop(item.id, newname.value, newinfo.value, newdesc.value)" style="border: 0" type="submit"><i class="fas fa-edit"></i></button>
                    </div>    
                    <div id="line-{{i}}" class="grid-container" *ngFor="let item of items | async; index as i">
                        <div class="grid-item-1 grid-item">{{ item.name }}</div>
                        <div class="grid-item-2 grid-item">{{ item.info }}</div>
                        <div class="grid-item-3 grid-item">{{ item.description }}</div>  
                        <div class="grid-item-4 grid-item">
                            <button class="delBut" (click)="deleteItemShop(item.id)" type="submit"><i class="fas fa-trash-alt"></i></button>
                            <button class="delBut" (click)="editItemShop(item.id, newname.value, newinfo.value, newdesc.value, i)" style="margin-left: 30px;" type="submit"><i class="fas fa-edit"></i></button>
                        </div>      
                    </div>
                </div>
            </div>
            <input type="text" class="form-control" #newname placeholder="Name" />
            <input type="text" class="form-control" #newinfo placeholder="Info" />
            <input type="text" class="form-control" #newdesc placeholder="Description" />
            <button (click)="addItemShop(newname.value,newdesc.value,newinfo.value)" class="btn btn-dark btn-block, addBut" type="submit">Save</button>
        </div>
    </div>
</div>

